.users {
  display: flex;
  flex-flow: column;
  gap: 30px;
  padding: 25px;

  .usersListControl {
    display: flex;
    justify-content: space-between;
    height: 40px;
  }

  .usersItemsContainer {
    display: flex;
    justify-content: center;
    .usersItems {
      width: 890px;
      display: flex;
      flex-flow: row wrap;
      gap: 30px;
    }
  }

  .usersPageBottom {
    display: flex;
    justify-content: center;
  }
}
