.users {
  padding: 25px;

  .usersListControl {
    display: flex;
    justify-content: space-between;
    height: 40px;
  }

  .usersItems {
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    padding-top: 20px;
  }

  .usersPageBottom {
    display: flex;
    justify-content: center;
  }
}
