.userPreviewCard {
  background-color: var(--input-background-color);
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  display: flex;
  flex-flow: column;
  gap: 10px;

  img {
    width: 100%;
    height: 180px;
    object-fit: cover;

    border-radius: 5px;
  }

  .followButton {
    font-weight: 500;
    align-self: center;
    width: 100%;
    height: 25px;
    background-color: var(--main-accent-color);
    filter: brightness(75%);
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
    filter: brightness(100%);
    }
  }
}
