.settings {
  padding: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  .settingsTablo {
    width: 500px;
    height: 500px;
    background-color: #37455c;
    border-radius: 10px;

    display: flex;
    align-items: center;
    flex-flow: column;

    .themeSwitcher {
      background-color: blue;
      width: 100px;
      height: 100px;
    }
  }
}
