.settings {
  padding: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  .settingsTablo {
    width: 500px;
    height: 500px;
    background-color: var(--settings-points-frame-background-color);
    border-radius: 10px;

    display: flex;
    align-items: center;
    flex-flow: column;

    .themeSwitcher {
      display: flex;
      justify-content: space-between;
      align-items: center;

      width: 80%;
      padding: 30px;

      .buttonSwitcher {
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }
  }
}
