.pagination {
  display: flex;
  gap: 5px;

  .buttons {
    display: flex;
    gap: 5px;

    button {
      min-width: 40px;
      height: 40px;
      border-radius: 5px;
      background-color: var(--users-page-buttons-main-background-color);

      &:hover {
        opacity: 0.85
      }
    }

    .currentPage {
      background-color: var(--main-accent-color);
    }

  }

  .move {
    width: 20px;
    height: 40px;
    background-color: var(--users-page-buttons-main-background-color);
    border-radius: 3px;

    svg {
    width: 20px;
    height: 40px;
    }

    &:hover {
      opacity: 0.7;
    }

    .firstPoly {
      fill: var(--main-accent-color);
    }

    .secondPoly {
      fill: var(--users-page-buttons-main-background-color);
    }
  }
  
}
