.messageViewArea {
  display: flex;
  flex-flow: column;
  gap: 20px;

  .chatMessage {
    display: flex;
  }
}
.newMessageArea {
  .messageInput {
    display: block;
    background-color: var(--input-background-color);
  }

  .submitButton {
    display: block;
    background-color: var(--users-page-buttons-main-background-color);
  }
}
