$blue-accent-color: #2898b1;

.profileInfo {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 25px;

  .editInfoIcon {
    display: flex;
    flex-flow: row-reverse;
    align-items: flex-start;

    svg {
      width: 30px;
      fill: #37455C;
    }
    svg:hover {
      fill: white;
    }

  }

  .personalInfo {
    margin-left: 20px;
    display: flex;
    gap: 50px;

    .contacts {
      width: 300px;
      div {
        display: flex;
        justify-content: space-between;
      }

      input {
        border-radius: 3px;
        border: solid #202938;
        background-color: #1a212d;
        padding: 5px;
      }
    }

    .aboutMe {
      width: 200px;

      .checkbox {
        display: inline-block;
      }
      // select {
      //   background-color: #1a212d;
      //   border-radius: 4px;
      //   height: 25px;
      //   width: 50px;
      // }

      input,
      textarea {
        border-radius: 3px;
        border: solid #202938;
        background-color: #1a212d;
        padding: 5px;
      }

      input {
        width: 148px;
      }

      textarea {
        width: 100%;
        resize: vertical;
      }
    }

    .aboutMe,
    .contacts {
      display: flex;
      flex-flow: column;
      gap: 10px;

      line-height: 20px;
      h3 {
        font-size: 20px;
        margin-bottom: 10px;
      }

      b ,label {
        margin-right: 6px;
        font-weight: 300;
      }

      span {
        line-height: normal;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }

  .profilePhotoContainer {
    width: 80%;

    .userProfileStatusContainer {
      font-size: 13px;
      margin: 15px 0 0 0;
      height: 30px;

      input {
        border-radius: 3px;
        border: solid #202938;
        width: 100%;
        background-color: #1a212d;
        padding: 5px;
      }
    }

    .profilePhoto {
      position: relative;

      img {
        border-radius: 10px;
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: 0.3s ease;
        backface-visibility: hidden;
      }

      .changePhotoContainer {
        transition: 0.3s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);

        input {
          display: none;
        }
        span {
          background-color: $blue-accent-color;
          font-weight: bold;
          padding: 5px;
          border-radius: 5px;
        }
      }

      &:hover {
        img {
          opacity: 0.3;
        }

        .changePhotoContainer {
          opacity: 1;
        }
      }
    }
  }
}
