$log_button_color: #2898b1;

.header {
  grid-area: h;
  background-color: #111828;

  .header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1200px;
    height: 100%;

    margin: 0 auto;

    .header__logo {
      height: 40px;
    }

    .header__log {
      display: inline-grid;
      justify-content: center;
      align-content: center;

      width: 80px;
      height: 32px;

      // background-color: #2898b1;
      background-color: $log_button_color;

      padding: 5px;
      border-radius: 5px;

      &:hover {
        cursor: pointer;
        background-color: #297688;
      }
      &:active {
        background-color: invert($color: $log_button_color);
      }

      a {
        text-decoration: none;
        font-weight: bold;
      }
    }
  }
}
