.header {
  grid-area: h;
  background-color: var(--interface-background-color);
  border-radius: 10px;
  padding: 0 10px 0 10px;

  .header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1200px;
    height: 100%;

    margin: 0 auto;

    .header__logo {
      height: 40px;
    }

    .header__log {
      display: inline-grid;
      justify-content: center;
      align-content: center;

      width: 80px;
      height: 32px;

      background-color: var(--main-accent-color);

      padding: 5px;
      border-radius: 5px;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
      &:active {
        background-color: grey;
      }

      a {
        text-decoration: none;
        font-weight: bold;
      }
    }
  }
}
